<%= render "shared/header" %>
<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">購入者の新規登録</h2>

      <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, id:"customer_email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード（6文字以上）" %><br />
          <%= f.password_field :password, id:"customer_password", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード再入力" %><br />
          <%= f.password_field :password_confirmation, id:"customer_password_confirmation", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :company_name, "会社名" %><br />
          <%= f.text_field :company_name, id:"customer_company_name" %>
        </div>

        <div class="field">
          <%= f.label :customer_name, "店名" %><br />
          <%= f.text_field :customer_name, id:"customer_user_name" %>
        </div>

        <div class="field">
          <%= f.label :responsible_person, "担当者名" %><br />
          <%= f.text_field :responsible_person, id:"customer_responsible_person" %>
        </div>

        <%= f.fields_for :shipping do |s| %>
          <div class="field">
            <%= s.label :postal_code, "郵便番号" %><br />
            <%= s.text_field :postal_code, id:"customer_postal_code" %>
          </div>

          <div class="field">
            <%= s.label :prefecture, "都道府県" %>
            <%= s.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box"}) %>
          </div>

          <div class="field">
            <%= s.label :municipality, "市区町村" %><br />
            <%= s.text_field :municipality, id:"customer_municipality" %>
          </div>

          <div class="field">
            <%= s.label :house_number, "町名・番地" %><br />
            <%= s.text_field :house_number, id:"customer_houce_number" %>
          </div>

          <div class="field">
            <%= s.label :building_name, "建物名" %><br />
            <%= s.text_field :building_name, id:"customer_building_name" %>
          </div>

          <div class="field">
            <%= s.label :phone_number, "電話番号" %><br />
            <%= s.text_field :phone_number, id:"customer_phone_number" %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>