<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <%= link_to "TSUNAGU", products_path, class: :logo %>
      </div>
      <div class="nav__right">
        <p><b><%= current_customer.customer_name %></b>さんのページ</p>
        <div class="btn__pro">
          <%=link_to "商品一覧", products_path, class: :nav__btn %>
        </div>
        <div class="btn__pro">
          <%=link_to "買い物かご", "#", class: :nav__btn %>
        </div>
        <div class="btn__pro">
          <%=link_to "アカウント", "#", class: :nav__btn %>
        </div>
        <div class="btn__pro">
          <%=link_to "ログアウト", destroy_customer_session_path, method: :delete, class: :nav__btn %>
        </div>
      </div>
    </div>
  </div>
</header>