<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <%= link_to "TSUNAGU", root_path, class: :logo %>
      </div>
      <div class="nav__right">
        <div class="btn__pro">
          <% if producer_signed_in? %>
            <p><b><%= current_producer.farm_name %></b>さん</p>
            <%=link_to "ログイン", new_producer_session_path, class: :nav__btn %>
          <% else %>
            <p><b>生産者</b>はこちら</p>
            <%= link_to "ログイン", new_producer_session_path, class: :nav__btn %>
          <% end %>
        </div>
        <div class="btn__pro">
          <% if customer_signed_in? %>
            <p><b><%= current_customer.customer_name %></b>さん</p>
            <%= link_to "ログイン", new_customer_session_path, class: :nav__btn %>
          <% else %>
            <p><b>購入者</b>はこちら</p>
            <%= link_to "ログイン", new_customer_session_path, class: :nav__btn %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>