<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">生産者の新規登録</h2>

        <%= form_with model: @producer, url: producer_registration_path, local: true do |f| %>

        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード（6文字以上）" %><br />
          <%= f.password_field :password, id:"user_password", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード再入力" %><br />
          <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :farm_name, "生産者の名前(農園名)" %><br />
          <%= f.text_field :farm_name, id:"producer_farm_name" %>
        </div>

        <div class="field">
          <%= f.label :category, "カテゴリー" %>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box"}) %>
        </div>

        <div class="field">
          <%= f.label :main_product, "主要生産物" %>
          <%= f.collection_select(:main_product_id, MainProduct.all, :id, :name, {}, {class:"select-box"}) %>
        </div>

        <div class="field">
          <%= f.label :farm_characteristic, "生産農園のご紹介文" %><br />
          <%= f.text_area :farm_characteristic, class: :form__text, id:"user_occupation" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
