<%= render "shared/header" %>
<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">購入者のログイン</h2>

      <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
        <div class='login-flash-message'>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
        <div class="field">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, class: "form__field", id:"customer_login_email", autofocus: true, autocomplete: "email" %>
          <span class="indispensable">必須</span>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード（6文字以上）" %>
          <%= f.password_field :password, class: "form__field", id:"customer_login_password", autocomplete: "new-password" %>
          <span class="indispensable">必須</span>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: :form__btn  %>
        </div>
      <% end %>
      <%= link_to '戻る', root_path, class: "link__btn" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>