<div class="card">
  <%= link_to image_tag(product.image, class: :card__img ), product_path(product.id) %>
  <div class="card__body">
    <%= link_to "#{product.name}", product_path(product.id), class: :card__title%>
    <p class="card__summary">
      <%= "#{product.price}円" %><%= "#{product.capacity.name}" %>
    </p>
    <%= link_to 'この商品の詳細ページへ', product %> |
    <%= link_to '削除', product_path(product.id), method: :delete %>
  </div>
</div>