<%= render "shared/customer_header" %>
<main class="main">
  <div class="inner">
    <h2 class="page-heading">
      <%= "登録商品(生産品)の一覧" %>
    </h2>
    <div class="search__wrapper">
      <%= search_form_for @p, url: search_products_path do |f| %>
        <div class="search_field">
          <%= f.label :name_or_features_or_producer_farm_name_cont, 'キーワードから探す' %>
          <%= f.search_field :name_or_features_or_producer_farm_name_cont, placeholder: "例)農園名、商品名など", class: "keyword__field" %>
        </div>
        <div class="search_field">
          <%= f.label :name_eq, '登録商品名(生産品名)' %>
          <%= f.collection_select(:name_eq, @product_name, :name, :name, {include_blank: '指定なし'}, {class: "search__box"}) %>
        </div>
        <div class="search_field">
          <%= f.label :main_product_id_eq, '商品(生産品)の種類' %>
          <%= f.collection_select(:main_product_id_eq, MainProduct.all, :id, :name, {include_blank: '指定なし'}, {class: "search__box"}) %>
        </div>
        <div class="search_field">
          <%= f.label :price, '価格' %>
          <%= f.number_field :price_gteq, class: "keyword__number", placeholder: "下限)10" %>円 以上 〜
          <%= f.number_field :price_lteq, class: "keyword__number", placeholder: "上限)999999" %>円 以下
        </div>
        <div class="actions">
          <%= f.submit '検索', class: :form__btn %>
        </div>
      <% end %>
    </div>
    <div class="card__wrapper">
      <%= render partial: "product", collection: @products %>
    </div>
    <div class="paginate">
      <%= paginate @products %>
    </div>
  </div>
</main>
<%= render "shared/footer" %>
