<%= render "shared/customer_header" %>
<main class="main">
  <div class="inner">
    <h2 class="page-heading">
      <%= "登録商品(生産品)の一覧" %>
    </h2>
    <%= search_form_for @p, url: products_search_path do |f| %>
      <%= f.label :name_cont, '登録商品名(生産品名)' %>
      <%= f.search_field :name_cont %>
      <br>
      <%= f.label :name_eq, '登録商品名(生産品名)' %>
      <%= f.collection_select :name_eq, @product_name, :name, :name,  include_blank: '指定なし' %>
      <br>
      <%= f.collection_select :main_product_id_eq, MainProduct.all, :id, :name,  include_blank: '指定なし' %>
      <br>
      <%= f.label :price, '価格：' %>
      <%= f.radio_button :price_lteq, '' %>
      指定なし
      <%= f.radio_button :price_lteq, '1000' %>
      1000円以下
      <%= f.radio_button :price_lteq, '2500' %>
      2500円以下
      <%= f.radio_button :price_lteq, '5000' %>
      5000円以下
      <br>
      <%= f.submit '検索' %>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: "product", collection: @products %>
    </div>
    <div class="paginate">
      <%= paginate @products %>
    </div>
  </div>
</main>
<%= render "shared/footer" %>
