<%= render "shared/customer_header" %>
<main class="main">
  <div class="inner">
    <h2 class="page-heading">
      <%= "商品の検索結果一覧" %>
    </h2>
    <div class="card__wrapper">
      <% if @results.length !=0 %>
        <%= render partial: "product", collection: @results %>
      <% else %>
        該当する商品はありません
      <% end %>
    </div>
    <div class="paginate">
      <%= paginate @results %>
    </div>
  </div>
</main>
<%= render "shared/footer" %>