<% if current_producer %>
  <%= render "shared/product_header" %>
<% else %>
  <%= render "shared/customer_header" %>
<% end %>
<main class="main">
  <div class="inner">
    <div class="product__wrapper">
      <p class="product__hedding">
        <%= @product.name %>
      </p>
      <% if current_producer == @product.producer %>
        <div class="product__manage">
          <%= link_to "編集する", edit_product_path(@product.id), class: :product__btn %>
          <%= link_to "削除する", product_path(@product.id), method: :delete, class: :product__btn %>
        </div>
      <% end %>
      <div class="product__image">
        <%= image_tag @product.image %>
      </div>
      <div class="product__body">
        <div class="product__detail">
          <p class="detail__title">商品の価格/単位価格表示</p>
          <p class="detail__message">
            <%= "#{@product.price}円" %><%= @product.capacity.name %>
          </p>
        </div>
        <div class="product__detail">
          <p class="detail__title">商品(生産品)の種類</p>
          <p class="detail__message">
            <%= @product.main_product.name %>
          </p>
        </div>
        <div class="product__detail">
          <p class="detail__title">商品(生産品)のご紹介文</p>
          <p class="detail__message">
            <%= "「#{@product.features}」" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
<%= render "shared/footer" %>