<%= render "shared/product_header" %>
<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @product.name %>
      </p>
      <div class="prototype__manage">
        <%= link_to "編集する", edit_product_path(@product.id), class: :prototype__btn %>
        <%= link_to "削除する", product_path(@product.id), method: :delete, class: :prototype__btn %>
      </div>
      <div class="prototype__image">
        <%= image_tag @product.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">商品の価格/単位価格表示</p>
          <p class="detail__message">
            <%= "#{@product.price}円" %><%= @product.capacity.name %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">商品(生産品)の種類</p>
          <p class="detail__message">
            <%= @product.main_product.name %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">商品(生産品)のご紹介文</p>
          <p class="detail__message">
            <%= "「#{@product.features}」" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
<%= render "shared/footer" %>